<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>tag</key>
			<integer>0</integer>
			<key>image</key>
			<string>UserCellIcon_0</string>
			<key>title</key>
			<string>店铺信息</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>image</key>
			<string>UserCellIcon_1</string>
			<key>title</key>
			<string>我的认证</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>9</integer>
			<key>image</key>
			<string>UserCellIcon_9</string>
			<key>title</key>
			<string>我的报价</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>image</key>
			<string>UserCellIcon_2</string>
			<key>title</key>
			<string>我的订单</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>image</key>
			<string>UserCellIcon_3</string>
			<key>title</key>
			<string>收货地址</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>4</integer>
			<key>image</key>
			<string>UserCellIcon_4</string>
			<key>title</key>
			<string>我的收藏</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>tag</key>
			<integer>5</integer>
			<key>image</key>
			<string>UserCellIcon_5</string>
			<key>title</key>
			<string>关于我们</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>6</integer>
			<key>image</key>
			<string>UserCellIcon_6</string>
			<key>title</key>
			<string>服务条款</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>7</integer>
			<key>image</key>
			<string>UserCellIcon_7</string>
			<key>title</key>
			<string>使用帮助</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>8</integer>
			<key>image</key>
			<string>UserCellIcon_8</string>
			<key>title</key>
			<string>分享给好友</string>
		</dict>
	</array>
</array>
</plist>
